@media screen and (max-width:630px){
    .A-left {
        width: 90%;
    }
    
    .A-right {
        width: 90%;
    }

    .f-wrapper .f-left {
        width: 90%;
    }
    
    .f-wrapper .f-right {
        width: 90%;
    }


}

/* ##################################################################################################### */
@media screen and (max-width:630px){

    .reverse h1{
        width: 90%;
    }
}
/* ###################################################################################################### */
@media screen and (max-width:445px){
    h1.heroH1{
        font-size: 90px;
    }

}